.divHeader {
  display: flex;
  justify-content: center;
}
.header {
  box-shadow: #2e2e2e2a 0px 1px 6px;
  position: fixed;
  width: 50%;
  z-index: 100;
  background: #cececed4;
  top: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.logo {
  padding: 0.7rem 0;
}
.login {
  display: flex;
  align-items: center;
  color: #242424fd;
}
.login::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 35px;
  background: url("../../../IMG/icons/Usuario.svg") no-repeat center center;

  border-radius: 50%;
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
}
