.inputComp {
  padding: 0.3rem;
  margin-top: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  border-style: none;
}
.inputComp::placeholder {
  font-family: monospace;
  color: #676767cc;
}
.inputComp:focus {
  color: none;
  box-shadow: none;
  outline: 0;
  border-style: none;
}
